<h1 style="text-align:center;margin-top:20px">Cart</h1>

<table class="table" style="margin-top:100px">

  <thead class="thead-dark">

    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Product Quantity</th>
      <th scope="col">Product Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% if user_signed_in? %>
    <tr>
      <%serial=1%>
      <%@line_items.each do |line_item|%>
      <% @product = Product.find(line_item.product_id)%>
      <th scope="row"><%=serial%></th><%serial=serial+1%>
      <td><%= image_tag @product.images.first, size: '50x50' %></td>
      <td> <%=@product.name%></td>
      <td> <%=@product.price%></td>
      <td>
        <div class="btn-group">
          <%= button_to '+', line_item, method: :patch, class: "btn btn-success", style:"margin-right:2px"%>
          <%= line_item.quantity %>
          <%= button_to '-', line_item, method: :delete ,  class:"btn btn-danger" ,style:"margin-left:2px"%><br>
        </div>
      </td>
      <td> <%=@product.price*line_item.quantity %></td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <%serial=1%>
      <% session[:guest_line_items]&.each do |product_id, quantity| %>
      <% @product = Product.find(product_id)%>
      <th scope="row"><%=serial%></th><%serial=serial+1%>
      <td><%= image_tag @product.images.first, size: '50x50' %></td>
      <td> <%= @product.name %></td>
      <td><%= @product.price %></td>
      <td>
        <div class="btn-group">
          <%= button_to '+', line_item_path(product_id), method: :patch, class: "btn btn-success", style:"margin-right:2px"%>
          <%= quantity %>
          <%= button_to '-', line_item_path(product_id), method: :delete ,  class:"btn btn-danger" ,style:"margin-left:2px"%><br>
        </div>
      </td>
      <td> <%=@product.price*quantity %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<h1 style="text-align:center"><strong>Grand Total Price: <%= current_user.line_items.sum(&:total_price) %></strong>
</h1>
<%else%>
<h1 style="text-align:center"><strong>Grand Total Price: <%=total_price %></strong> </h1>
<%end%>
