<marquee> Specail Discount Coupons for first 50 Customers </marquee>
<h1 style="text-align:center; margin-botto:36px">My Products</h1>
<%= button_to 'Add Product',new_product_path , method: :get , class:"btn btn-success" %>
<div class="container mt-4">
  <div class="row">
    <% @products.each do |product|  %>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <% abc = product.images %>
        <%= image_tag(abc.first) if abc.first.present? %>
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text"><%=product.description%></p>
          <div class="btn-group">
            <%= button_to 'Details', product_url(product) , method: :get , class:"btn btn-info" %>
            <%= button_to 'Delete', product_path(product), method: 'delete' , class:"btn btn-danger" %>
            <%= button_to 'Edit', edit_product_path(product), method: 'get' , class:"btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
