<div style="text-align:center">
  <h1 style="margin-top:25px">ADD NEW PRODUCT</h1>
  <%= form_for @product, local: true do |f| %>
  <div class="form-group mt-4">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group mt-4">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="form-group mt-4">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="form-group mt-4">
    <%= f.label :images %><br />
    <%= f.file_field :images, multiple:true %>
  </div>
  <%= f.submit "ADD PRODUCT", class: 'btn btn-primary mt-4' %>
</div>
<% end %>
